* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1132px;
    padding: 1rem;
    margin-inline: auto;
}

.post-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.post-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-remove {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .post-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .post-list {
        grid-template-columns: 1fr;
    }
}